
.chat {
  overflow: hidden;
  background: #ebe4db;
  padding: 17px 17px 7px;
  margin: 0 -20px;
  line-height: 1.3;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

@media (min-width: 530px) {
  .chat {
    margin: 0 0 0 0;
    padding-left: 32px;
  } 
}

.chat-item,
.chat-direction {
  position: relative;
  background: #fff;
  padding: 7px 10px;
  margin: 0 40px 10px 0;
  border-radius: 0 7px 7px 7px;
  -webkit-filter: drop-shadow(0 1px 1px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 1px rgba(0,0,0,0.2));
}

.page-chat {
  background: #e1ffc7;
  border-radius: 7px 0 7px 7px;
  margin: 0 0 10px 40px;
  align-self: flex-end;
}

.chat-item::before {
  content: '';
  position: absolute;
  top: 0;
  right: 100%;
  border: solid 5px #fff;
  border-top-width: 15px;
  border-width: 6px 4px;
  border-color: #fff #fff transparent transparent;
}

.page-chat::before {
  top: 0;
  left: 100%;
  border-color: #e1ffc7 transparent transparent #e1ffc7;
  width: 0;
}

.chat-item .author {
  display: block;
  color: #ff702c;
  font-weight: bold;
  font-size: 0.9rem;
  margin: 0 0 5px 0;
}

.server-chat .author {
  color: #4dbaba;
}

.page-chat .author {
  color: #778868;
}

.chat-item .author span {
  color: transparent;
}

.chat-item .time {
  float: right;
  font-size: 0.9rem;
  position: relative;
  top: 5px;
  left: 3px;
  color: rgba(0,0,0,0.5);
  margin-left: 10px;
}

.chat-direction {
  border-radius: 7px;
  background: #d4eaf4;
  text-transform: uppercase;
  align-self: center;
  margin: 5px 0 15px 0;
  font-size: 0.9rem;
  line-height: 1;
  padding: 10px;
  color: #666;
}

.chat-nowrap {
  white-space: nowrap;
}
