---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "bourbon/bourbon",
        "base/base",
        "neat/neat";

// Our variables
$header-height: 56px;
$footer-height: 80px;

// Width of the content area
$on-palm:          600px;
$on-laptop:        800px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "layout";
