{% if include.toc-title %}
  <span class="toc-title">{{ include.toc-title}}</span>
{% endif %}
{% assign heading = 'h2'%}
{% assign second_heading = 'h3'%}
{% assign third_heading = 'h4'%}

{% if include.heading %}
  {% assign helper = include.heading | split: 'h' %}
  {% assign second = helper[1] | plus: 1 %}
  {% assign third = helper[1] | plus: 2 %}

  {% assign first-level-heading =  include.heading | prepend: '<' | append: ' id="' %}
  {% assign close-tag = include.heading | prepend: '</' | append: '>' %}
  {% assign second-level-heading =  second| prepend: '<h' | append: ' id="' %}
  {% assign second-close-tag = second| prepend: '</h' | append: '>' %}
  {% assign third-level-heading =  third| prepend: '<h' | append: ' id="' %}
  {% assign third-close-tag = third| prepend: '</h' | append: '>' %}

  {% else %}
  {% assign first-level-heading =  heading | prepend: '<' | append: ' id="' %}
  {% assign close-tag = heading | prepend: '</' | append: '>' %}
  {% assign second-level-heading =  second_heading | prepend: '<' | append: ' id="' %}
  {% assign second-close-tag = second_heading | prepend: '</' | append: '>' %}
  {% assign third-level-heading =  third_heading | prepend: '<' | append: ' id="' %}
  {% assign third-close-tag = third_heading | prepend: '</' | append: '>' %}
{% endif %}



<ul class="toc-list">
{% assign split_content= content | split: first-level-heading %}

  {% for split_content_item in split_content offset:1 %}


    {% assign section_of_content = split_content_item | split: close-tag %}
    {% assign heading_content = section_of_content | first %}

    {% for heading_item in heading_content %}
      {% assign link-title = heading_item | split: '">' | last %}
      {% assign link = heading_item | split: '"' | first %}
        <li class="toc-item">
          <a href="{{link | prepend: '#' }}">{{link-title }}</a>


          {% assign second_split_content = split_content_item | split: second-level-heading %}

              <ul class="toc-list">
              {% for second_split_content_item in second_split_content offset:1 %}

                {% assign second_section_of_content = second_split_content_item | split: second-close-tag %}
                {% assign second_heading_content = second_section_of_content | first %}

                    {% for second_heading_item in second_heading_content %}
                    {% assign second-link-title = second_heading_item | split: '">' | last %}
                    {% assign second-link = second_heading_item | split: '"' | first %}
                    <li class="toc-item">
                      <a href="{{second-link | prepend: '#' }}">{{second-link-title }}</a>


                      {% assign third_split_content = second_split_content_item | split: third-level-heading %}

                          <ul class="toc-list">
                          {% for third_split_content_item in third_split_content offset:1 %}
                            {% assign third_section_of_content = third_split_content_item | split: third-close-tag %}
                            {% assign third_heading_content = third_section_of_content | first %}

                                {% for third_heading_item in third_heading_content %}
                                  {% assign third-link-title = third_heading_item | split: '">' | last %}
                                  {% assign third-link = third_heading_item | split: '"' | first %}
                                  <li class="toc-item">
                                    <a href="{{third-link | prepend: '#' }}">{{third-link-title }}</a>
                                  </li>
                                  {% endfor %}
                                {% endfor %}
                            </ul>
                          </li>
                    {% endfor %}
              {% endfor %}
              </ul>
        </li>
    {% endfor %}

 {% endfor %}
</ul>
