
/**
 * Sticky footer and basic styles
 */

html{
   height: 100%;
 }

body {
    background-color: $base-background-color;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -$footer-height;
  &:after {
    content: "";
    display: block;
    height: $footer-height;  }

}
/**
 * Wrapper
 */
.wrapper {
    @include outer-container(1024px);
    margin-right: auto;
    margin-left: auto;
    @include pad(0 $gutter/3 );
    @include media($on-laptop) {
        @include pad(0 $gutter/2);
    }
}

.home h2{
  margin: 0;
}
/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 32px;
        height: 32px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
.icon-twitter:hover path{
  fill: #4099ff;
}
.icon-rss:hover path{
  fill: #ee802f;
}

/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: $header-height;
    font-family: $heading-font-family;
    text-transform: uppercase;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: $header-height;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {

    float: right;
    line-height: $header-height;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $base-font-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media(max-width $on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $base-background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding: 5px 0;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}




/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $base-spacing 0;
    height: $footer-height;
}


.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    li {
      display: inline-block;
    }
}

/**
 * Page content
 */

.page-content {
    padding: $base-spacing 0;

}


.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $base-spacing;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.comments-link {
    font-size: $small-font-size;
    margin-left: $gutter;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $base-spacing;
}
.post, .home {
  float: left;
  width: 100%;
}
.article {
    @include span-columns(12);
    @include media($on-palm) {
         @include span-columns(9);
         @include pad(0 default 0 0);
       }
}

.post-title {
    letter-spacing: -1px;
    line-height: 1;
}

.post-content {
    margin-bottom: $base-spacing;
}

/**
 * Sidebar
 */
.sidebar {
    @include span-columns(12);
    @include media($on-palm) {
      @include span-columns(3);
      }
 }
.documentation-header {
  text-align: center;
}

.documentation-subheader{
    margin-top: $small-spacing;
    border-bottom: 1px solid black;
}

.documentation-item {
    list-style-type: none;
    font-family: $heading-font-family;
}


/**
 * Collection navigation
 */
 .arrow_navigation {
    margin: auto;
    width: 180px;
    padding-left: 0 20px;
 }

  .arrow-svg {
    fill: gray;
  }
 .arrow-svg:hover {
   fill: #333333;

 }
 .prev:hover, .nxt:hover {
   text-decoration: none;
 }
.prev {

}
.nxt {

}

/**
 * translate.html
 */

 .original, .original_author {
   font-size: 1.125em;
   font-weight: bold;
   font-family: $heading-font-family;
 }

/**
  * table of contents
  */

#markdown-toc, #markdown-toc ul {
  list-style-type: none;
}
