// Sticky footer and basic styles

html {
  height: 100%;
}

body {
  background-color: $base-background-color;
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

@include media($on-laptop) {
@each $heading, $scale in $headings {
  #{$heading} {
    font-size: modular-scale($scale);
  }
}
}

.page-wrap {
  margin-bottom: -$footer-height;
  min-height: 100%;

  &:after {
    content: '';
    display: block;
    height: $footer-height;
  }
}

// Wrapper

.wrapper {
  @include outer-container(1024px);
  @include pad(0 ($gutter / 3));
  margin-left: auto;
  margin-right: auto;

  @include media($on-laptop) {
    @include pad(0 ($gutter / 2));
  }
}



// Icons

.icon {
  > svg {
    display: inline-block;
    height: 32px;
    vertical-align: middle;
    width: 32px;

    path {
      fill: $grey-color;
    }
  }
}

.icon-twitter:hover path {
  fill: $twitter-color;
}

.icon-rss:hover path {
  fill: $rss-color;
}

// Site header

.site-header {
  border-bottom: 1px solid $grey-color-light;
  border-top: 5px solid $grey-color-dark;
  font-family: $heading-font-family;
  min-height: $header-height;
  position: relative;
  text-transform: uppercase;

  // Positioning context for the mobile navigation icon

}

.site-title {
  float: left;
  font-size: 26px;
  letter-spacing: -1px;
  line-height: $header-height;
  margin-bottom: 0;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $header-height;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $base-font-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  @include media(max-width $on-palm) {
    background-color: $base-background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    position: absolute;
    right: 30px;
    text-align: right;
    top: 9px;

    .menu-icon {
      display: block;
      float: right;
      height: 26px;
      line-height: 0;
      padding: 5px 0;
      text-align: center;
      width: 36px;

      > svg {
        height: 15px;
        width: 18px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
    }
  }
}

// Site footer

.site-footer {
  border-top: 1px solid $grey-color-light;
  height: $footer-height;
  padding: $base-spacing 0;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  li {
    display: inline-block;
  }
}

// Page content

.page-content {
  padding: $base-spacing 0;
}

.post-list {
  list-style: none;
  margin-left: 0;

  > li {
    margin-bottom: $base-spacing;
  }
}

.post-meta,
.post-tags {
  color: $grey-color;
  font-size: $small-font-size;
}

.post-link {
  display: block;
  font-size: 24px;
}

// Comments

.comments-link {
  display: none;
  @include media($on-palm) {
      display: block;
      color: $grey-color;
      float: right;
      font-size: $small-font-size;
      white-space: nowrap;
  }
}

.comments-link:visited {
  color: $grey-color;
}

// Posts

.post-header {
  margin-bottom: $base-spacing;
}

.home {
  float: left;
  width: 100%;

  h2 {
    margin: 0;
  }
}

.post,
.article {
  @include span-columns(12);

  @include media($on-palm) {
    @include span-columns(9);

    @include pad(0 default 0 0);
  }
}

.post-title,
.page-title {
  letter-spacing: -1px;
  line-height: 1;
  margin-top: 0;
}

.post-content {
  margin-bottom: $base-spacing;
}

// Sidebar

.sidebar {
  @include span-columns(12);

  @include media($on-palm) {
    @include span-columns(3);
  }
}

.sidebar-hide {
  display: none;

  @include media($on-palm) {
    @include span-columns(3);
  }
}


// collections, tags, refs

.documentation-header,
.ref-header {
  text-align: center;
  margin: 0;
}

.documentation-subheader {
  border-bottom: 1px solid $grey-color-dark;
  margin-top: $small-spacing;
}

.documentation-item,
.tag-item,
.ref-item {
  font-family: $heading-font-family;
  list-style-type: none;
}


.tag-link {
  font-family: $heading-font-family;
  list-style-type: none;
  display: inline;
  
}

.documentation-list,
.tag-list,
.ref-list {
  margin-left: 0;
  padding-left: 0;
}

.related-list {
  list-style-type: none;
  padding-top: 14em;
}

.related-item {
  border-bottom: 4px solid $grey-color-light;
  border-top: 4px solid $grey-color-light;
  margin-top: 16 * $gutter;

  &:hover {
    border-bottom: 4px solid $protip-color;
    border-top: 4px solid $protip-color;
    transition: 1s;
  }

  a:hover {
    text-decoration: none;

  }
}



// Collection navigation

.arrow-navigation {
  margin: auto;
  padding-left: 20px;
  width: 180px;
}

.arrow-svg {
  fill: $grey-color;
}

.arrow-svg:hover {
  fill: $grey-color-dark;
}

.prev:hover,
.nxt:hover {
  text-decoration: none;
}

// translate.html

.original,
.original-author {
  font-size: 1.2 * $base-font-size;
  font-family: $heading-font-family;
  line-height: $heading-line-height;
}

// table of contents

.toc-title {
  font-size: 1.2 * $base-font-size;
  font-family: $heading-font-family;
}

.toc-list {
  list-style-type: none;
}

h4:target {
  color: $prgssr-color;
}

h2:target,
h3:target {
  color: $selection-color;
}

// selection

.selection strong {
  background-color: $selection-color;
}

