---
layout: default
---
<div class="wrapper">
<div itemscope itemtype="http://schema.org/BlogPosting" class="post">
  {% include utils/tags-keywords-convert.html %}
  <meta itemprop="description" content="{{ page.description }}" />
  {% assign category = page.categories[0] %}

  <header class="post-header">
    <h1 class="post-title" itemprop="headline">{{ page.title }}</h1>
    <p class="post-meta">
      {% include utils/date-localization-page.html %}
      {% if page.author %} • {{ page.author }}
      {% endif %}
      {% if page.meta %} • {{ page.meta }}
      {% endif %}
    </p>
  </header>
  {% if category == "development"%}
    {% include utils/translation.html %}
  {% endif %}
  {% include utils/TOC.html heading='h2' toc-title="Оглавление:" toc-level=2 %}
    <article itemprop="articleBody" class="post-content">
       {% if page.thumbnail == "noimage" %}
        <meta itemprop="image" content="{{ site.data.thumb.[category] | prepend: site.url }}">
       {% else %}
        <meta itemprop="image" content="{{ page.thumbnail| prepend: site.url }}">
    {% endif %}
    {{ content }}
  </article>
    <div>
    {% include utils/series.html %}
    <p class="post-meta"
    {% include utils/date-localization-tags.html %}
    </p>
    <p class="post-tags"
      {% include utils/page-tags.html %}
    </p>
    {% include  vendors/disqus.html %}
  </div>
	<div>
		{% include  vendors/disqus.html %}
	</div>
</div>
<aside class="sidebar">
    {% include utils/TOC-sorted.html heading='h4' %}
</aside>
</div>
{% include utils/scripts.html %}
