---
layout: default
---
<div class="wrapper">
<div itemscope itemtype="http://schema.org/BlogPosting" class="post">
  {% include tags-keywords-convert.html %}
  <meta itemprop="description" content="{{ page.description }}" />
  {% assign category = page.categories[0] %}

  <header class="post-header">
    <h1 class="post-title" itemprop="headline">{{ page.title }}</h1>
    <p class="post-meta">
      {% include date-localization-page.html %}
      {% if page.author %} • {{ page.author }}
      {% endif %}
      {% if page.meta %} • {{ page.meta }}
      {% endif %}
    </p>
  </header>
  {% if category == "development"%}
    {% include translation.html %}
  {% endif %}
  {% include TOC.html heading='h2' toc-title="Оглавление:" %}
  <article itemprop="articleBody" class="post-content">
    {% if page.noimage %}
    <meta itemprop="image" content="{{ site.data.thumb.[category] | prepend: site.url }}">
    {% endif %}
    {{ content }}
  </article>
	<div>
		{% include  disqus.html %}
	</div>
</div>
<aside class="sidebar-hide">
    {% include related-posts.html %}
</aside>
</div>
{% include scripts.html %}
