table {
  border-bottom: 2px solid $base-border-color;
  border-collapse: collapse;
  border-spacing: 0;
  border-top: 2px solid $base-border-color;
  margin: $small-spacing 0;
  overflow: auto;
  table-layout: auto;
  width: 100%;
  word-break: keep-all;

  tr {
    background-color: $base-background-color;
    border-top: 1px solid $grey-color-light;
  }

  th {
    font-weight: bold;
  }

  tr:nth-child(2n) {
    background-color: $table-odd-color;
}
}

th {
  border: 1px solid darken($base-border-color, 15%);
  font-weight: 600;
  padding: ($small-spacing / 2) $small-spacing;
  text-align: center;
}

td {
  border: $base-border;
  padding: ($small-spacing / 2) $small-spacing;
  vertical-align: middle;
}
