body {
  @include font-feature-settings('kern', 'liga', 'onum');

  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  line-height: $base-line-height;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  @include selection {
    background-color: $selection-color;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $heading-font-family;
  font-weight: 400;
  line-height: $heading-line-height;
  margin: $small-spacing 0 ($small-spacing / 2);
}

h6 {
  font-family: $heading-font-family;
  font-weight: 700;
  line-height: $heading-line-height;
  margin: ($small-spacing / 2) 0 $small-spacing;
}

$headings: (h1: 5, h2: 4, h3: 3, h4: 2, h5: 1, h6: 0);

@each $heading, $scale in $headings {
  #{$heading} {
    font-size: modular-scale($scale);
  }
}

p {
  margin-bottom: $small-spacing / 2;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $small-spacing 0;
}

strong {
  font-weight: normal;
  letter-spacing: 0.125em;
}

dfn {
  font-style: italic;
}

abbr[title] {
  border-bottom: 1px dotted;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}
